@font-face {
    font-family: 'Scary';
    src: url('./assets/Griffy-Regular.ttf');
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: black;
}

#container {
    margin: 0;
    width: 90vw;
    height: 90vh;
}
