@font-face {
    font-family: 'Scary';
    src: url('./assets/Griffy-Regular.ttf');
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: #292c33;
}

#container {
    margin: 0;
    width: 90vw;
    max-width: 1280px;
    height: 90vh;
    border-radius: 5px;
    overflow: hidden;
}

#loading-message {
    font-size: 48px;
    color: white;
    animation: blink 1s infinite;
    text-align: center;
    margin-top: 20%;
    height: 100vh;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
